/*修改layer弹窗插件原始样式*/

.layui-layer{
    border-radius: 5px !important;
    overflow: hidden;
}
.layui-layer-title{
    padding:5px !important;
}
.layui-layer-content{
    padding-top: 30px !important;
    height:auto !important;
}
.layui-layer-btn:after{
    content: "";
    display: block;
    clear: both;
}
.layui-layer-btn{
    margin-top:10px;
    text-align: center !important;
    font-size:0;
}
.layui-layer-btn a{
    display: block;
    margin-bottom: 10px !important;
    padding:8px !important;
    width: 60% !important;
    height: auto !important;
    border-radius: 5px !important;
    border:1px solid #1DD5FF !important;
    background: #FFFFFF !important;
    text-align: center;
    line-height: 0 !important;
    font-size:1rem;
    color: #4a4a4a !important;
}
.layui-layer-btn a img{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.layui-layer-btn a p{
    width: 100%;
    font-size:1rem;
    color: #333;
}
.layui-layer-btn .layui-layer-btn2{
    margin-right: 0;
}
.mengceng{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height:100%;
    background: grey;
    opacity: 0;
    z-index: 999;
    transition: all 0.4s;
}
.mengcengActive{
    display: block;
    opacity: 0.5;
}
.selectPay{
    position: fixed;
    left: 0;
    bottom: -125px;
    padding:10px 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 1000;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
.selectPay>div{
    padding-left: 20px;
    min-height:50px;
    line-height: 50px;
    border-bottom: 1px solid #F4F4F4;
}
.selectPay>div:last-child{
    border-bottom: none;
}
.selectPay>div .text{
    margin-left: 30px;
    font-size:1.2rem;
}
.selectPay>div span img{
    vertical-align: middle;
    width: 30px;
    height:auto;
}
.closeActive{
    bottom: 0px;
}
