<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
  <title>赛事资讯</title>

  <link type="text/css" rel="stylesheet" href="https://mp.bombsport.com/source/css/base.css">
  <script type="text/javascript" src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3646948230&debug=true" charset="utf-8"></script>
  <script type="text/javascript" src="https://mp.bombsport.com/source/js/vue.min.js"></script>
  <script type="text/javascript" src="https://mp.bombsport.com/source/js/jquery2.1.4.js"></script>
  <script type="text/javascript" src="https://mp.bombsport.com/source/js/md5.js"></script>

</head>
<body class="warpper-black-4">

  <div id="moreNewsPage">

    <div class="wb100 h50px warpper-black-5">
      <p class="wb70 text-over-hidden1 absolute text-center h50px lh50px F16 Fwhite" style="top: 0; left: 0; right: 0; margin: 0 auto;">赛事资讯</p>
      <!--<div class="w50px h50px fr" @click="wbLogin">-->
        <!--<div class="img-area h40px w40px mat5 mar5"><img src="https://mp.bombsport.com/source/images/icon-sina3.png"></div>-->
      <!--</div>-->
    </div>

    <div class="clear1"></div>

    <div class="wb100">
      <div v-for="(item,key) in newsList" v-if="empty==false">

        <template v-if="item.picImgs.length == 0">
          <div class="clear1"></div>
          <a :href="'https://mp.bombsport.com/ticket/new.html?newsID=' + item.newsID">
            <div class="bor-black2 bor-solid-1b relative">

              <div class="pal15 par15">
                <p class="text-over-hidden1 h25px lh25px F16 Fwhite-1">{{item.title}}</p>
                <div class="clear h10px"></div>
                <p class="text-over-hidden2 h50px lh25px F14 Fblack-1">{{item.mcontent}}</p>
                <div class="clear h10px"></div>

                <p class="h20px lh20px Fblack-1 F14">
                  <span class="fl">{{item.leagueName}} </span>
                  <span class="fr"> {{ formatDate(item.date)}} </span>
                </p>
              </div>

              <div class="clear1"></div>

            </div>
          </a>
        </template>

        <template v-if="item.picImgs.length < 3 && item.picImgs.length > 0">
          <div class="clear1"></div>
          <a :href="'https://mp.bombsport.com/ticket/new.html?newsID=' + item.newsID">
            <div class="bor-black2 bor-solid-1b relative" style="padding-right: 150px;">
              <div class="w120px h180px absolute img-area" style="top: 0; right: 15px;">
                <img :src="item.picImgs[0] + '?x-oss-process=image/resize,m_fill,h_160,w_240'">
              </div>

              <div class="pal15">
                <p class="text-over-hidden2 h50px lh25px F16 Fwhite-1">{{item.title}}</p>
                <div class="clear h10px"></div>
                <p class="h20px lh20px Fblack-1 F14">
                  <span class="fl">{{item.leagueName}} </span>
                  <span class="fr"> {{ formatDate(item.date)}} </span>
                </p>
              </div>

              <div class="clear1"></div>

            </div>
          </a>

        </template>

        <template v-if="item.picImgs.length >= 3">
          <div class="clear1"></div>
          <a :href="'https://mp.bombsport.com/ticket/new.html?newsID=' + item.newsID">
            <div class="bor-black2 bor-solid-1b relative">

              <div class="pal15 par15">
                <p class="text-over-hidden1 h30px lh30px F16 Fwhite-1">{{item.title}}</p>

                <div class="clear h10px"></div>
                <div class="wb100">
                  <div class="wb33333 fl img-area">
                    <div class="center" :style="'width:'+ newsWidth +'px; height:'+ newsWidth * 0.75 +'px; '">
                      <img :src="item.picImgs[0] + '?x-oss-process=image/resize,m_fill,w_'+ newsWidth * 2 +',h_' + Math.ceil(newsWidth * 1.5)">
                    </div>
                  </div>
                  <div class="wb33333 fl img-area">
                    <div class="center" :style="'width:'+ newsWidth +'px; height:'+ newsWidth * 0.75 +'px; '">
                      <img :src="item.picImgs[1] + '?x-oss-process=image/resize,m_fill,w_'+ newsWidth * 2 +',h_' + Math.ceil(newsWidth * 1.5)">
                    </div>
                  </div> <div class="wb33333 fl img-area">
                  <div class="center" :style="'width:'+ newsWidth +'px; height:'+ newsWidth * 0.75 +'px; '">
                    <img :src="item.picImgs[2] + '?x-oss-process=image/resize,m_fill,w_'+ newsWidth * 2 +',h_' + Math.ceil(newsWidth * 1.5)">
                  </div>
                </div>

                  <!--<div class="wb33333 fl img-area">-->
                  <!--<div class="pa2">-->
                  <!--<img :src="item.picImgs[2]">-->
                  <!--</div>-->
                  <!--</div>-->

                </div>
                <div class="clear h10px"></div>
                <p class="h20px lh20px Fblack-1 F14">
                  <span class="fl">{{item.leagueName}} </span>
                  <span class="fr"> {{ formatDate(item.date)}} </span>
                </p>
              </div>

              <div class="clear1"></div>

            </div>
          </a>

        </template>

      </div>
    </div>
  </div>

  <script>

    var base = {

      /**
       * 通过key获取浏览器的参数
       * @param paras 	参数名
       * @param _url		浏览器地址（可选参数）
       * @returns {*}	参数值
       */
      getParmar: function getParmar(paras, _url) {
        var url = location.href;
        if (_url) url = _url;
        var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
        var paraObj = {};
        for (var i = 0, j = 0; j = paraString[i]; i++) {
          paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
        }
        var returnValue = paraObj[paras.toLowerCase()];

        return returnValue;
      },

      /**
       * 通过name删除本地cookie
       * @param name		cookie名
       */
      delCookie: function delCookie(name) {
        document.cookie = name + "=;expires=" + new Date(0).toGMTString();
      },

      /**
       * 通过name获取本地cookie
       * @param objName	cookie名
       */
      getCookie: function getCookie(objName) {
        var arrStr = document.cookie.split("; ");
        for (var i = 0; i < arrStr.length; i++) {
          var temp = arrStr[i].split("=");
          if (temp[0] == objName) return unescape(temp[1]);
        }
      },

      /**
       * 设置本地cookie
       * @param name		cookie名
       * @param value		cookie值
       * @param day		cookie保存天数
       */
      setCookie: function setCookie(name, value, day) {
        if (day == null || day == "" || day == undefined) day = 30;
        var exp = new Date();
        exp.setTime(exp.getTime() + day * 24 * 60 * 60 * 1000);
        document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString();
      },

      /**
       * 生成一个UUID
       * @returns {string}
       */
      getUuid: function getUuid() {
        var len = 32; //32长度
        var radix = 16; //16进制
        var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'.split('');var uuid = [],
          i;radix = radix || chars.length;if (len) {
          for (i = 0; i < len; i++) {
            uuid[i] = chars[0 | Math.random() * radix];
          }
        } else {
          var r;uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';uuid[14] = '4';for (i = 0; i < 36; i++) {
            if (!uuid[i]) {
              r = 0 | Math.random() * 16;uuid[i] = chars[i == 19 ? r & 0x3 | 0x8 : r];
            }
          }
        }
        return uuid.join('');
      },

      /**
       * unicode转码
       * @param str
       * @returns {string}
       */
      encodeUnicode: function encodeUnicode(str) {
        var res = [];
        for (var i = 0; i < str.length; i++) {
          res[i] = ("00" + str.charCodeAt(i).toString(16)).slice(-4);
        }
        return "\\u" + res.join("\\u");
      },

      /**
       * unicode解码
       * @param str
       */
      decodeUnicode: function decodeUnicode(str) {
        str = str.replace(/\\/g, "%");
        return unescape(str);
      },

      /**
       * 判断一个值是否为空
       * @param obj			任意类型
       * @returns {boolean}	是否为空
       */
      isNull: function isNull(obj) {
        if (obj == undefined || obj == 'undefined' || obj == null || obj == 'null' || obj == "" || obj.length == 0) return true;else return false;
      },

      /**
       * 获取浏览器信息
       * 取值方式versions.isType(*) == true/false
       */
      versions: function () {
        var u = navigator.userAgent,
          app = navigator.appVersion;
        return { //移动终端浏览器版本信息
          isTrident: u.indexOf('Trident') > -1, //IE内核
          isPresto: u.indexOf('Presto') > -1, //opera内核
          isWebKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
          isGecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
          isMobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
          isIos: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
          isAndroid: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
          isIPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
          isIPad: u.indexOf('iPad') > -1, //是否iPad
          isWebApp: u.indexOf('Safari') == -1, //是否web应该程序，没有头部与底部
          isWeiXin: u.match(/MicroMessenger/i) == 'MicroMessenger' || u.match(/MicroMessenger/i) == 'micromessenger', //微信浏览器
          isIosApp : u.indexOf('ticket_ios') > -1, //ios客户端版本
          isAndroidApp : u.indexOf('ticket_android') > -1 //安卓客户端版本
        };
      }(),
      language: (navigator.browserLanguage || navigator.language).toLowerCase()
    };
  </script>

  <script>

    function getAjaxSign(params) {
      var _timestamp = Math.round(new Date().getTime() / 1000);

      var arr = [];

      var str = '';

      if (base.isNull(params)) {
        params = {};
      }

      var deviceID = base.getCookie('deviceID');

      if (base.isNull(deviceID)) {
        deviceID = base.getUuid();
        base.setCookie('deviceID', deviceID, 365);
      }

      params.uuid = 0;
      params.deviceID = deviceID;
      params.source = 'wap';
      params.deviceType = '1';
      params.timestemp = _timestamp;

      $.each(params, function (key, value) {
        arr.push(key);
      });

      arr = arr.sort();

      for (var i = 0; i < arr.length; i++) {
        var _tmp = arr[i] + '=' + params[arr[i]] + '&';
        str += _tmp;
      }

      str += 'key=lottery@213cbs!';

      params.sign = md5(str);

      return params;
    }

    var vm = new Vue({
      el: "#moreNewsPage",
      data: {
        fullscreenLoading: true,
        myHeight: 0,
        newsWidth: 0,
        page: 0,
        pageSize: 20,
        type: '',
        newsList: [],
        loading: true,
        empty: false,
        last: false
      },
      methods: {

        wbLogin: function(){

            console.log('wbLogin')

          if(WB2.checkLogin()){//检查是否已登录
            WB2.logout(function(){//退出登录方法
              //回调方法
            });
          }
          WB2.login(function(data){
            WB2.anyWhere(function(W){
              W.parseCMD('/account/get_uid.json',function(oResult1,bStatus){
                if(bStatus){
                  W.parseCMD('/users/show.json',function(oResult2,bStatus){
                    if(bStatus){
                      var args = {
                        openid:oResult2.id,
                        access_token:WB2.oauthData.access_token,
                        username:oResult2.name,
                        userHeadImg:oResult2.profile_image_url,
                      }
                    }
                  },{uid:oResult1.uid},{method:'get',cache_time:30});
                }
              },{},{method:'get',cache_time:30});//默认是post请求方法
            });
          });
        },

        formatDate: function(str){
            return str.substring(5, str.length-3)
        },

        getData: function() {

          var _this = this;

          var _sign = getAjaxSign({
            pageIndex: 1,
            pageSize: 100,
            type: 1
          })

          $.ajax({
            type: "post",
            url: 'https://s.bombsport.com:4432/matchNews/list',
            // url: "http://192.168.8.150:9713/user/confirmPayee",
            data: { pageIndex: _sign.pageIndex, pageSize: _sign.pageSize, type: _sign.type, uuid: _sign.uuid, deviceID: _sign.deviceID, source: _sign.source, deviceType: _sign.deviceType, sign: _sign.sign, timestemp: _sign.timestemp },
            dataType: "json",
            success: function(data) {
              if (data.status == 1) {
                var _tmp = data.returnJSON.queryResult;

                for(let i=0; i< _tmp.length; i++){
                  if(base.isNull(_tmp[i].picImg)){
                    _tmp[i].picImgs = []
                  }else{
                    _tmp[i].picImgs = _tmp[i].picImg.split("|")
                  }
                }

                _this.newsList = _tmp;
              }
            }
          });

        },

      },

      mounted: function(){
        this.myHeight = $(window).height()
        this.newsWidth = Math.ceil(($(window).width() - 30 - 6) / 3)
        this.getData();
      }

    });

  </script>

</body>
</html>
